<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Capital Group</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <a href="/" class="logo">
        <img src="{{ url_for('static', filename='capital_group_logo.png') }}">
    </a>

    <nav>
        <a href="/about">ABOUT US</a>
        <a href="/products">PRODUCTS</a>
        <a href="/services">SERVICES</a>
        <a href="/follow">FOLLOW US</a>
        <a href="/contact">CONTACT US</a>
    </nav>

    <a href="/contact" class="talk">LET'S TALK ↗</a>
</header>

<section class="inner-page">
    <div class="gold-text">CAPITAL GROUP</div>

    <h1>
        Let's <span>Talk.</span>
    </h1>

    <p>
        We would be pleased to hear from you.
    </p>
</section>

<section class="contact-grid">

    <div class="contact-card">
        <h2>Address</h2>
        <p>
            #2, 2nd Floor Park View Inn Plaza,<br>
            F-10 Markaz,<br>
            Islamabad, Pakistan-44000
        </p>
    </div>

    <div class="contact-card">
        <h2>Phone</h2>
        <p>
            +92-51-280-9611
        </p>
    </div>

    <div class="contact-card">
        <h2>Email</h2>
        <p>
            info@capitalgroup.pk
        </p>
    </div>

</section>

<footer>
    <div>© 2026 Capital Group</div>
    <div>ceo@capitalgroup.pk</div>
</footer>

</body>
</html>